body {
    background-color: aliceblue;
    background-image: url(BG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}